<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Books">
            <app-posts role="user" section="book"></app-posts>
        </mat-tab>
        <mat-tab label="Promotion Sale">
            <app-posts role="user" section="promotion"></app-posts>
        </mat-tab>
        <mat-tab label="Recommended To Me">
            <app-posts role="user" section="recommended"></app-posts>
        </mat-tab>
    </mat-tab-group>
</body>
</html>
