<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Users">
            <app-users></app-users>
        </mat-tab>
        <mat-tab label="Supplements">
            <app-supplements></app-supplements>
        </mat-tab>
        <mat-tab label="Food Items">
            <app-fooditems></app-fooditems>
        </mat-tab>
        <mat-tab label="Food Choices">
            <app-foodchoices></app-foodchoices>
        </mat-tab>
        <mat-tab label="Meal Plans">
            <app-mealplans></app-mealplans>
        </mat-tab>
        <mat-tab label="Posts">
            <app-posts></app-posts>
        </mat-tab>
    </mat-tab-group>
</body>
</html>
