html{
    position: relative;
    width: 100%;
    height: 100%;
}

body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #E8E8E8;
}

.profile-pic {
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: red;
    top: 10%;
}

.profile-info {
    position: absolute;
    left: 25%;
}