<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <mat-form-field appearance="fill" class="search" [style.fontSize.px]=14 *ngIf="role=='admin'">
    <mat-label>Search...</mat-label>
    <input matInput [(ngModel)]='search'>
  </mat-form-field>
  <button *ngIf="role=='admin'" mat-raised-button class="confirm" (click)="searchFor()">Search</button>


  <div class="posts">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let post of posts">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"> </div>
            <mat-card-title>{{post.name}}</mat-card-title>
            <mat-card-subtitle>{{post.author}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="post.image" alt="Unavailable" height="450px" (click)="seePostDetails(post)">
          <mat-card-content>
            <p>{{formatContent(post.content)}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="seePostDetails(post)">DETAILS</button>
          </mat-card-actions>
        </mat-card>
      </ng-template>
    </ngb-carousel>
    <br>
    <button mat-raised-button class="addnew" (click)="addNew('post')" *ngIf="role=='admin'">+ Add new post</button>
  </div>

</body>

</html>