<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="supplement">
    <mat-form-field appearance="fill" class="email" [style.fontSize.px]=14>
      <mat-label>Name</mat-label>
      <input matInput required [(ngModel)]='book.name'>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="email" [style.fontSize.px]=14>
      <mat-label>Author</mat-label>
      <input matInput required [(ngModel)]='book.author'>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="email" [style.fontSize.px]=14>
      <mat-label>Year</mat-label>
      <input matInput required [(ngModel)]='book.year'>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="email" [style.fontSize.px]=14>
      <mat-label>Pages</mat-label>
      <input matInput required [(ngModel)]='book.pages'>
    </mat-form-field>
    <br>
    <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="csvInputChange($event)"
      accept=".csv" />
    <button mat-flat-button color="primary" (click)="csvInput.click()">Choose Book Image</button>
    <br>
    <mat-form-field appearance="fill" class="fieldS" [style.fontSize.px]=14>
      <mat-label>Content</mat-label>
      <textarea matInput [(ngModel)]="book.content"></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="confirm()">Confirm</button>
  </div>
</body>

</html>